<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VAL0" value="UID={2};PWD={3};DATABASE={1};SERVER={0};"/>
    <add key="VAL1" value="Servidor"/>
    <add key="VAL2" value="BaseDeDatos"/>
    <add key="VAL3" value="Usuario"/>
    <add key="VAL4" value="Password"/>
    <add key="VAL5" value="TimeOut"/>
  </appSettings>
</configuration>