<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VAL0" value="VUlEPXsyfTtQV0Q9ezN9O0RBVEFCQVNFPXsxfTtTRVJWRVI9ezB9Ow=="/>
    <add key="VAL1" value="MTA0LjI1NC4yNDcuMjMx"/>
    <add key="VAL2" value="RFNBVA=="/>
    <add key="VAL3" value="ZWR1YXJkby5wZXJleg=="/>
    <add key="VAL4" value="M0RVNFJEMDg0MDQxNA=="/>
    <add key="VAL5" value="MzAw"/>
    <add key="VAL6" value="QzpcVXNlcnNccmF1bC5tYXlcRG9jdW1lbnRz"/>
  </appSettings>
</configuration>