<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VAL0" value="VUlEPXsyfTtQV0Q9ezN9O0RBVEFCQVNFPXsxfTtTRVJWRVI9ezB9Ow=="/>
    <add key="VAL1" value="MTA0LjI1NC4yNDcuMjMx"/>
    <add key="VAL2" value="RGVsb2l0dGU="/>
    <add key="VAL3" value="Usuario"/>
    <add key="VAL4" value="Password"/>
    <add key="VAL5" value="MzAw"/>
  </appSettings>
</configuration>